@charset "utf-8";
/* CSS Document */
.w{width:1007px;margin:0 auto;}
/**********************搜索和logo****************************/
.top-nav{height:70px;width:100%;border-bottom:2px solid #22ac38;}
.top-nav .search{height:70px;}
.top-nav .search .logo{height:40px;width:149px;background:url(../img/logo.png) no-repeat ;text-indent:-999em;margin-top:15px;margin-left:4px;}
.top-nav .search .search1{width:515px;height:40px;margin-left:15px;margin-top:15px;}
.top-nav .search .search1 .text{height:38px;width:460px;background:#eeeeee;padding-left:15px;line-height:40px;border:none;}
.top-nav .search .search1 .anniu{width:40px;height:38px;background:url(../img/t01093f7f7119dcfb83.png) no-repeat;}
.top-nav .search li{line-height:70px;float:left;}
.top-nav .search li a{line-height:40px;padding:0 8px;display:inline-block;font-size:13px;color:#666;}
.top-nav .search li a .tp1{background:url(../img/t0139be92e4d61d2dea.png) no-repeat ;padding:8px 15px;}
.top-nav .search li a .tp2{background:url(../img/t0139be92e4d61d2dea.png) no-repeat 0 -198px;padding:8px 17px;}
.top-nav .search li a .tp3{background:url(../img/t0139be92e4d61d2dea.png) no-repeat 0 -397px ;padding:8px 17px;}
.nav{height:40px;}
.nav .box1{margin-left:4px;}
.nav .box1 li{float:left;line-height:40px;}
.nav .box1 li .one{padding-left:0;color:#22ac38; }
.nav .box1 li a{font-size:16px;color:#666666;padding:0 13px;font-weight:bold;}

.nav .box1 li .yuandian{ 
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        border: 1px solid #000;
                         background: #000;
						 display:inline-block;margin-top:-2px;line-height:10px; }

.nav .box2 li{float:left;line-height:40px;}
.nav .box2 li .one{padding-left:0;color:#22ac38; }
.nav .box2 li a{font-size:14px;color:#666666;padding:0 7px;font-weight:bold;}
	
/*******************************banner*********************/
	.banner{height:483px;position:relative;display:block;}
	.banner .tp1{height:483px;width:1007px;}
	.banner .zr1{font-size:35px;color:#FFF;font-weight:bold;position:absolute;left:20px;top:318px;}
	.banner .zr2{font-size:17px;color:#FFF;position:absolute;left:20px;top:381px;}
	.banner .zr3{height:55px;width:1007px;position:absolute;left:0;bottom:20px;}
	.banner .zr3 li{width:97px;height:55px;float:left;margin-right:16px;position:relative;}
	.banner .zr3 li.tp10{margin-right:0;}
	.banner .zr3 li img{width:97px;height:55px;}
	.banner .zr3 li .mask1{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder1{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp2:hover .bder1{border:3px solid #22ac38;}
	.banner .zr3 .tp2:hover .mask1{display:none;}
	
.banner .zr3 li .mask2{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder2{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp3:hover .bder2{border:3px solid #22ac38;}
	.banner .zr3 .tp3:hover .mask2{display:none;}	
	
	
	.banner .zr3 li .mask3{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder3{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp4:hover .bder3{border:3px solid #22ac38;}
	.banner .zr3 .tp4:hover .mask3{display:none;}	
	
	.banner .zr3 li .mask4{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder4{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp5:hover .bder4{border:3px solid #22ac38;}
	.banner .zr3 .tp5:hover .mask4{display:none;}	
	
	.banner .zr3 li .mask5{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder5{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp6:hover .bder5{border:3px solid #22ac38;}
	.banner .zr3 .tp6:hover .mask5{display:none;}	
	.banner .zr3 li .mask6{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder6{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp7:hover .bder6{border:3px solid #22ac38;}
	.banner .zr3 .tp7:hover .mask6{display:none;}
	.banner .zr3 li .mask7{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder7{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp8:hover .bder7{border:3px solid #22ac38;}
	.banner .zr3 .tp8:hover .mask7{display:none;}
	.banner .zr3 li .mask8{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder8{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp9:hover .bder8{border:3px solid #22ac38;}
	.banner .zr3 .tp9:hover .mask8{display:none;}
	.banner .zr3 li .mask9{width:97px;height:55px;position:absolute;left:0;top:0;background:#000;opacity:0.5;filter:alpha(opacity=50);}
	.banner .zr3 .bder9{width:91px;height:49px;position:absolute;left:0;top:0;}
	
	.banner .zr3 .tp10:hover .bder9{border:3px solid #22ac38;}
	.banner .zr3 .tp10:hover .mask9{display:none;}	
	
	/*************今日热点*****************************/
	.jrrm{height:340px;padding-top:40px;background:#f4f4f4;}
	.jrrm  .jrrm-l{width:750px;height:340px;margin-right:16px;}
	.jrrm  .jrrm-l .xnav{height:32px;margin-bottom:20px;}
	.jrrm  .jrrm-l .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.jrrm  .jrrm-l .xnav ul{height:32px;}
	.jrrm  .jrrm-l .xnav li{height:20px;padding-top:12px;float:left;}
	.jrrm  .jrrm-l .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #bdbdbd;display:inline-block;}
	.jrrm  .jrrm-l .xnav li .one{color:#22ac38;}
	
	.jrrm  .jrrm-l .xnav li .more{border-right:none;}
	.jrrm  .jrrm-l .jrrm-l-b{width:747px;height:288px;padding-left:3px}
	.jrrm  .jrrm-l .jrrm-l-b .box1{width:377px;height:288px;margin-right:6px;}
	.jrrm  .jrrm-l .jrrm-l-b .box1 .tp1{width:377px;height:253px;position:relative;display:block;}
	.jrrm  .jrrm-l .jrrm-l-b .box1 .tp1 img{width:377px;height:253px;}
	.jrrm  .jrrm-l .jrrm-l-b .box1 .tp1 .mask{width:377px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.jrrm  .jrrm-l .jrrm-l-b .box1 .tp1 .text{width:377px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:4px;bottom:0;}
	.jrrm  .jrrm-l .jrrm-l-b .box1 .text1{height:20px;padding-top:15px;font-size:12px;color:#444444;padding-left:4px;background:#FFF;}
	
	.jrrm  .jrrm-l .jrrm-l-b .box2{width:364px;height:288px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t{width:364px;height:134px;margin-bottom:20px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one{width:179px;height:134px;margin-right:6px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one .tp1 img{width:179px;height:100px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .one .text1{height:20px;padding-top:14px;font-size:12px;color:#444444;padding-left:9px;background:#FFF;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-t .aa{margin-right:0;}
	
	
	
	
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b{width:364px;height:134px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one{width:179px;height:134px;margin-right:6px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one .tp1 img{width:179px;height:100px;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .one .text1{height:20px;padding-top:14px;font-size:12px;color:#444444;padding-left:9px;background:#FFF;}
	.jrrm  .jrrm-l .jrrm-l-b .box2 .box2-b .aa{margin-right:0;}
	
	.jrrm  .jrrm-r{width:239px;height:340px;}
	.jrrm  .jrrm-r h4{font-size:23px;color:#333333;padding-top:6px;margin-bottom:20px;font-weight:bold;}
.jrrm  .jrrm-r .box{width:239px;height:288px;}
	.jrrm  .jrrm-r .box .tp1{width:239px;height:120px;position:relative;display:block;}
	.jrrm  .jrrm-r .box .tp1 img{width:239px;height:120px;}
	.jrrm  .jrrm-r .box .tp1 .mask{width:239px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.jrrm  .jrrm-r .box .tp1 .text{width:239px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:10px;bottom:0;}
	.jrrm  .jrrm-r .box .text1{width:228px;height:156px;padding-top:14px;padding-left:11px;background:#FFF;}
	.jrrm  .jrrm-r .box .text1 a{display:block;font-size:12px;color:#333333;line-height:28px;overflow:hidden;white-space:nowrap;}
	
	/*******************电视剧*************************/
.dsj{height:690px;padding-top:40px;background:#f4f4f4;}
.dsj  .dsj-l{width:750px;height:690px;margin-right:14px;}
.dsj  .dsj-l .xnav{height:32px;margin-bottom:20px;}
	.dsj  .dsj-l .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.dsj  .dsj-l .xnav ul{height:32px;}
	.dsj  .dsj-l .xnav li{height:20px;padding-top:12px;float:left;}
	.dsj  .dsj-l .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #bdbdbd;display:inline-block;}
	.dsj  .dsj-l .xnav li .one{color:#22ac38;}
	
	.dsj  .dsj-l .xnav li .more{border-right:none;}
	.dsj  .dsj-l .dsj-l-b{width:747px;height:640px;padding-left:3px}
	.dsj  .dsj-l .dsj-l-b .boxt{width:747px;height:310px;margin-bottom:20px;}
	.dsj  .dsj-l .dsj-l-b .boxt .box1{width:180px;height:310px;margin-right:9px;float:left;}
	.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1{width:180px;height:245px;position:relative;display:block;}
	.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1 img{width:180px;height:245px;}
	.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1 .mask{width:180px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1 .text{height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:10px;bottom:0;}
		.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1 .text1{height:24px;font-size:16px;line-height:24px;color:#94ff77;position:absolute;left:135px;bottom:0;}
			.dsj  .dsj-l .dsj-l-b .boxt .box1 .tp1 .text2{font-size:10px;color:#d9d9d9;position:absolute;left:160px;bottom:3px;}
	.dsj  .dsj-l .dsj-l-b .boxt .box1 .one{width:170px;height:56px;padding-top:9px;font-size:13px;padding-left:10px;background:#FFF;line-height:25px;}
		.dsj  .dsj-l .dsj-l-b .boxt .box1 .one .text1{color:#333333;}
		.dsj  .dsj-l .dsj-l-b .boxt .box1 .one .text2{color:#a9a9a9;}
	.dsj  .dsj-l .dsj-l-b .boxt .aa{margin-right:0;}
	.dsj  .dsj-l .dsj-l-b .boxb{width:747px;height:310px;}
	.dsj  .dsj-l .dsj-l-b .boxb .box1{width:180px;height:310px;margin-right:9px;float:left;}
	.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1{width:180px;height:245px;position:relative;display:block;}
	.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1 img{width:180px;height:245px;}
	.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1 .mask{width:180px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1 .text{height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:10px;bottom:0;}
		.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1 .text1{height:24px;font-size:16px;line-height:24px;color:#94ff77;position:absolute;left:135px;bottom:0;}
			.dsj  .dsj-l .dsj-l-b .boxb .box1 .tp1 .text2{font-size:10px;color:#d9d9d9;position:absolute;left:160px;bottom:3px;}
	.dsj  .dsj-l .dsj-l-b .boxb .box1 .one{width:170px;height:56px;padding-top:9px;font-size:13px;padding-left:10px;background:#FFF;line-height:25px;}
		.dsj  .dsj-l .dsj-l-b .boxb .box1 .one .text1{color:#333333;}
		.dsj  .dsj-l .dsj-l-b .boxb .box1 .one .text2{color:#a9a9a9;}
	.dsj  .dsj-l .dsj-l-b .boxb .aa{margin-right:0;}
	.dsj  .dsj-r {width:239px;height:690px;}
	.dsj  .dsj-r .zr1{width:239px;height:486px;margin-bottom:25px;}
	.dsj  .dsj-r .zr1 h4{font-size:23px;color:#333333;padding-top:6px;margin-bottom:20px;font-weight:bold;}

	.dsj  .dsj-r .zr1  .tp1{width:239px;height:120px;position:relative;display:block;margin-bottom:10px;}
	.dsj  .dsj-r .zr1 .tp1 img{width:239px;height:120px;}
	.dsj  .dsj-r .zr1 .tp1 .mask{width:239px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dsj  .dsj-r .zr1 .tp1 .text{height:24px;font-size:13px;line-height:24px;color:#FFF;position:absolute;left:48px;bottom:0;}
	
		.dsj  .dsj-r .zr1  .tp1 .text1{width:43px;height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:165px;bottom:0;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 7px;padding-left:25px;}
.dsj  .dsj-r .zr1  .tp1 .text2{width:36px;height:36px;font-size:15px;line-height:36px;text-align:center;color:#FFF;position:absolute;left:0;bottom:0;background:url(../img/t01ed6a1e044fe0626f.png) no-repeat 0 ;}
	.dsj  .dsj-r .zr1  ul{width:239px;height:306px;}
	.dsj  .dsj-r .zr1  li{width:229px;height:34px;line-height:34px;padding-left:10px;}
	.dsj  .dsj-r .zr1  ul .one1{background:#eeeeee;}
	.dsj  .dsj-r .zr1  li .num{font-size:12px;color:#aaaaaa;float:left;margin-right:10px;}
	.dsj  .dsj-r .zr1  li .num1{font-size:12px;color:#46c832;float:left;margin-right:10px;}
	.dsj  .dsj-r .zr1  li .num2{font-size:12px;color:#aaaaaa;float:left;margin-right:5px;}
	.dsj  .dsj-r .zr1  li .dsjm{font-size:13px;color:#2b2b2b;float:left;width:134px;font-weight:bold;}
	.dsj  .dsj-r .zr1  li .djl{font-size:13px;color:#aaaaaa;float:left;width:52px;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 13px;padding-left:23px;}
	.dsj  .dsj-r .zr2{width:239px;height:178px;}
	.dsj  .dsj-r .zr2 h4{font-size:23px;color:#333333;margin-bottom:20px;font-weight:bold;}
	.dsj  .dsj-r .zr2 ul{width:218px;height:127px;padding-left:21px;background:#FFF;padding-top:8px;}
	.dsj  .dsj-r .zr2 ul li{line-height:30px;font-size:14px;color:#313131;font-weight:bold;}
	.dsj  .dsj-r .zr2 ul li a{color:#313131;}
	/*******************************电影********************/
	.dy{height:690px;padding-top:40px;background:#f4f4f4;}
.dy  .dy-l{width:750px;height:690px;margin-right:14px;}
.dy  .dy-l .xnav{height:32px;margin-bottom:20px;}
	.dy  .dy-l .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.dy  .dy-l .xnav ul{height:32px;}
	.dy  .dy-l .xnav li{height:20px;padding-top:12px;float:left;}
	.dy  .dy-l .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #bdbdbd;display:inline-block;}
	.dy  .dy-l .xnav li .one{color:#22ac38;}
	
	.dy  .dy-l .xnav li .more{border-right:none;}
	.dy  .dy-l .dy-l-b{width:747px;height:640px;padding-left:3px}
	.dy  .dy-l .dy-l-b .boxt{width:747px;height:310px;margin-bottom:20px;}
	.dy  .dy-l .dy-l-b .boxt .box1{width:180px;height:310px;margin-right:9px;float:left;}
	.dy  .dy-l .dy-l-b .boxt .box1 .tp1{width:180px;height:245px;position:relative;display:block;}
	.dy  .dy-l .dy-l-b .boxt .box1 .tp1 img{width:180px;height:245px;}
	.dy  .dy-l .dy-l-b .boxt .box1 .tp1 .mask{width:180px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dy  .dy-l .dy-l-b .boxt .box1 .tp1 .text{height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:10px;bottom:0;}
		.dy  .dy-l .dy-l-b .boxt .box1 .tp1 .text1{height:24px;font-size:16px;line-height:24px;color:#94ff77;position:absolute;left:135px;bottom:0;}
			.dy  .dy-l .dy-l-b .boxt .box1 .tp1 .text2{font-size:10px;color:#d9d9d9;position:absolute;left:160px;bottom:3px;}
	.dy  .dy-l .dy-l-b .boxt .box1 .one{width:170px;height:56px;padding-top:9px;font-size:13px;padding-left:10px;background:#FFF;line-height:25px;}
		.dy  .dy-l .dy-l-b .boxt .box1 .one .text1{color:#333333;}
		.dy  .dy-l .dy-l-b .boxt .box1 .one .text2{color:#a9a9a9;}
	.dy  .dy-l .dy-l-b .boxt .aa{margin-right:0;}
	.dy  .dy-l .dy-l-b .boxb{width:747px;height:310px;}
	.dy  .dy-l .dy-l-b .boxb .box1{width:180px;height:310px;margin-right:9px;float:left;}
	.dy  .dy-l .dy-l-b .boxb .box1 .tp1{width:180px;height:245px;position:relative;display:block;}
	.dy  .dy-l .dy-l-b .boxb .box1 .tp1 img{width:180px;height:245px;}
	.dy  .dy-l .dy-l-b .boxb .box1 .tp1 .mask{width:180px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dy  .dy-l .dy-l-b .boxb .box1 .tp1 .text{height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:10px;bottom:0;}
		.dy  .dy-l .dy-l-b .boxb .box1 .tp1 .text1{height:24px;font-size:16px;line-height:24px;color:#94ff77;position:absolute;left:135px;bottom:0;}
			.dy  .dy-l .dy-l-b .boxb .box1 .tp1 .text2{font-size:10px;color:#d9d9d9;position:absolute;left:160px;bottom:3px;}
	.dy  .dy-l .dy-l-b .boxb .box1 .one{width:170px;height:56px;padding-top:9px;font-size:13px;padding-left:10px;background:#FFF;line-height:25px;}
		.dy  .dy-l .dy-l-b .boxb .box1 .one .text1{color:#333333;}
		.dy  .dy-l .dy-l-b .boxb .box1 .one .text2{color:#a9a9a9;}
	.dy  .dy-l .dy-l-b .boxb .aa{margin-right:0;}
	.dy  .dy-r {width:239px;height:690px;}
	.dy  .dy-r .zr1{width:239px;height:486px;margin-bottom:25px;}
	.dy  .dy-r .zr1 h4{font-size:23px;color:#333333;padding-top:6px;margin-bottom:20px;font-weight:bold;}

	.dy  .dy-r .zr1  .tp1{width:239px;height:120px;position:relative;display:block;margin-bottom:10px;}
	.dy  .dy-r .zr1 .tp1 img{width:239px;height:120px;}
	.dy  .dy-r .zr1 .tp1 .mask{width:239px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dy  .dy-r .zr1 .tp1 .text{height:24px;font-size:13px;line-height:24px;color:#FFF;position:absolute;left:48px;bottom:0;}
	.dy  .dy-r .zr1  .tp1 .text1{width:24px;height:24px;font-size:12px;line-height:24px;color:#46c832;position:absolute;left:182px;bottom:0;}
		.dy  .dy-r .zr1  .tp1 .text2{width:43px;height:24px;font-size:12px;line-height:24px;color:#aaaaaa;position:absolute;left:206px;bottom:0;}
.dy  .dy-r .zr1  .tp1 .text3{width:36px;height:36px;font-size:15px;line-height:36px;text-align:center;color:#FFF;position:absolute;left:0;bottom:0;background:url(../img/t01ed6a1e044fe0626f.png) no-repeat 0 ;}
	.dy  .dy-r .zr1  ul{width:239px;height:306px;}
	.dy  .dy-r .zr1  li{width:229px;height:34px;line-height:34px;padding-left:10px;}
	.dy  .dy-r .zr1  ul .one1{background:#eeeeee;}
	.dy  .dy-r .zr1  li .num{font-size:12px;color:#aaaaaa;float:left;margin-right:10px;}
	.dy  .dy-r .zr1  li .num1{font-size:12px;color:#46c832;float:left;margin-right:10px;}
	.dy  .dy-r .zr1  li .num2{font-size:12px;color:#aaaaaa;float:left;margin-right:5px;}
	.dy  .dy-r .zr1  li .dsjm{font-size:13px;color:#2b2b2b;float:left;width:157px;font-weight:bold;}
	.dy  .dy-r .zr1  li .djl{font-size:12px;color:#46c832;float:left;width:25px;}
	.dy  .dy-r .zr1  li .fen{float:left;color:#aaaaaa;font-size:12px;}
	.dy  .dy-r .zr2{width:239px;height:178px;}
	.dy  .dy-r .zr2 h4{font-size:23px;color:#333333;margin-bottom:20px;font-weight:bold;}
	.dy  .dy-r .zr2 ul{width:218px;height:127px;padding-left:21px;background:#FFF;padding-top:8px;}
	.dy  .dy-r .zr2 ul li{line-height:30px;font-size:14px;color:#313131;font-weight:bold;}
	.dy  .dy-r .zr2 ul li a{color:#313131;}
	
	
	/******************************电影预告*******************/
.dyyg{height:180px;padding-top:40px;background:#f4f4f4;}
.dyyg  .dyyg-l{width:750px;height:180px;margin-right:14px;}
.dyyg  .dyyg-l .xnav{height:32px;margin-bottom:20px;}
	.dyyg  .dyyg-l .xnav h3{font-size:24px;color:#2b2b2b;margin-right:17px;line-height:26px;font-weight:bold;}
	.dyyg  .dyyg-l .xnav .more{height:16px;font-size:13px;color:#242424;line-height:16px;display:inline-block;padding-top:10px;float:left;}
	.dyyg  .dyyg-l .dyyg-l-b{padding-left:3px;}
	.dyyg  .dyyg-l .dyyg-l-b .box1{width:179px;height:134px;margin-right:10px;float:left;}
	.dyyg  .dyyg-l .dyyg-l-b .box1 .tp1{width:179px;height:100px;position:relative;display:block;}
	.dyyg  .dyyg-l .dyyg-l-b .box1 .tp1 img{width:179px;height:100px;}
	.dyyg  .dyyg-l .dyyg-l-b .box1 .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dyyg  .dyyg-l .dyyg-l-b .box1 .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;}
	.dyyg  .dyyg-l .dyyg-l-b .box1 .tp1 .text1{width:82px;height:20px;
	position:absolute;left:0;top:0;background:url(../img/t019ef309043fe7ad3f.png) no-repeat ;}
	
	
	.dyyg  .dyyg-l .dyyg-l-b .box1 .one .text1{width:179px;height:20px;;padding-top:14px;font-size:13px;color:#444444;background:#FFF;text-align:center;display:block;}
	.dyyg  .dyyg-l .dyyg-l-b .aa{margin-right:0;}
	
	
	
		.dyyg  .dyyg-r{width:241px;height:180px;}
	.dyyg  .dyyg-r h4{font-size:23px;color:#333333;margin-bottom:23px;font-weight:bold;}
.dyyg  .dyyg-r .box1{width:241px;height:135px;}
	.dyyg  .dyyg-r .box1 .tp1{width:241px;height:100px;position:relative;display:block;}
	.dyyg  .dyyg-r .box1 .tp1 img{width:241px;height:100px;}
	.dyyg  .dyyg-r .box1 .tp1 .mask{width:241px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dyyg  .dyyg-r .box1 .tp1 .text{width:241px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:0;bottom:0;text-align:center;}
	.dyyg  .dyyg-r .box1 .one .text1{width:241px;height:12px;font-size:12px;font-weight:bold;color:#333333;padding-top:23px;display:block;}
	
	/******************综艺*****************************/
	
.zy{height:383px;padding-top:40px;background:#f4f4f4;}
	.zy  .zy-l{width:750px;height:383px;margin-right:16px;}
	.zy  .zy-l .xnav{height:32px;margin-bottom:20px;}
	.zy  .zy-l .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.zy  .zy-l .xnav ul{height:32px;}
	.zy  .zy-l .xnav li{height:20px;padding-top:12px;float:left;}
	.zy  .zy-l .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #bdbdbd;display:inline-block;}
	.zy  .zy-l .xnav li .one{color:#22ac38;}
	
	.zy  .zy-l .xnav li .more{border-right:none;}
	.zy  .zy-l .zy-l-b{width:747px;height:331px;padding-left:3px}
	.zy  .zy-l .zy-l-b .box1{width:375px;height:331px;margin-right:6px;}
	.zy  .zy-l .zy-l-b .box1 .tp1{width:375px;height:255px;position:relative;display:block;}
	.zy  .zy-l .zy-l-b .box1 .tp1 img{width:375px;height:255px;}
	.zy  .zy-l .zy-l-b .box1 .tp1 .mask{width:375px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.zy  .zy-l .zy-l-b .box1 .tp1 .text{width:357px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:6px;bottom:0;padding-left:18px;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
	.zy  .zy-l .zy-l-b .box1 .one{height:58px;padding-top:20px;padding-left:4px;background:#FFF;}
	.zy  .zy-l .zy-l-b .box1 .one .text1{font-size:14px;color:#444444;margin-bottom:12px;display:block;}
	.zy  .zy-l .zy-l-b .box1 .one .text2{font-size:12px;color:#888888;}
	
	.zy  .zy-ls .zy-l-b .box2{width:364px;height:331px;}
	.zy  .zy-l .zy-l-b .box2 .box2-t{width:364px;height:155px;margin-bottom:20px;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one{width:179px;height:155px;margin-right:6px;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .tp1 img{width:179px;height:100px;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;padding-left: 18px;background: url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .two{height:41px;padding-top:14px;padding-left:9px;background:#FFF;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .two .text1{font-size:12px;color:#444444;margin-bottom:10px;display:block;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .one .two .text2{font-size:12px;color:#888888;}
	.zy  .zy-l .zy-l-b .box2 .box2-t .aa{margin-right:0;}
	
	
	
	
	.zy  .zy-l .zy-l-b .box2 .box2-b{width:364px;height:155px;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one{width:179px;height:155px;margin-right:6px;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .tp1 img{width:179px;height:100px;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;padding-left: 18px;background: url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
		.zy  .zy-l .zy-l-b .box2 .box2-b .one .two{height:41px;padding-top:14px;padding-left:9px;background:#FFF;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .two .text1{font-size:12px;color:#444444;margin-bottom:10px;display:block;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .one .two .text2{font-size:12px;color:#888888;}
	.zy  .zy-l .zy-l-b .box2 .box2-b .aa{margin-right:0;}
	
	.zy  .zy-r {width:239px;height:383px;}
	
	.zy  .zy-r  h4{font-size:23px;color:#333333;padding-top:6px;margin-bottom:20px;font-weight:bold;}

	.zy  .zy-r   .tp1{width:239px;height:120px;position:relative;display:block;margin-bottom:10px;}
	.zy  .zy-r  .tp1 img{width:239px;height:120px;}
	.zy  .zy-r  .tp1 .mask{width:239px;height:24px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.zy  .zy-r  .tp1 .text{height:24px;font-size:13px;line-height:24px;color:#FFF;position:absolute;left:48px;bottom:0;}
	
		.zy  .zy-r   .tp1 .text1{width:43px;height:24px;font-size:12px;line-height:24px;color:#FFF;position:absolute;left:165px;bottom:0;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 7px;padding-left:25px;}
.zy  .zy-r   .tp1 .text2{width:36px;height:36px;font-size:15px;line-height:36px;text-align:center;color:#FFF;position:absolute;left:0;bottom:0;background:url(../img/t01ed6a1e044fe0626f.png) no-repeat 0 ;}
	.zy  .zy-r   ul{width:239px;height:202px;}
	.zy  .zy-r   li{width:229px;height:34px;line-height:34px;padding-left:10px;}
	.zy  .zy-r   ul .one1{background:#eeeeee;}
	.zy  .zy-r   li .num{font-size:12px;color:#aaaaaa;float:left;margin-right:10px;}
	.zy  .zy-r   li .num1{font-size:12px;color:#46c832;float:left;margin-right:10px;}
	.zy  .zy-r   li .num2{font-size:12px;color:#aaaaaa;float:left;margin-right:5px;}
	.zy  .zy-r   li .dsjm{font-size:13px;color:#2b2b2b;float:left;width:140px;font-weight:bold;display:block;}
	.zy  .zy-r   li .djl{font-size:13px;color:#aaaaaa;float:left;width:50px;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 13px;padding-left:22px;}
	/**********************动漫***********************/
	.dm{height:383px;padding-top:40px;background:#f4f4f4;}
	.dm  .dm-l{width:750px;height:383px;margin-right:16px;}
	.dm  .dm-l .xnav{height:32px;margin-bottom:20px;}
	.dm  .dm-l .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.dm  .dm-l .xnav ul{height:32px;}
	.dm  .dm-l .xnav li{height:20px;padding-top:12px;float:left;}
	.dm  .dm-l .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #bdbdbd;display:inline-block;}
	.dm  .dm-l .xnav li .one{color:#22ac38;}
	
	.dm  .dm-l .xnav li .more{border-right:none;}
	.dm  .dm-l .dm-l-b{width:747px;height:331px;padding-left:3px}
	.dm  .dm-l .dm-l-b .box1{width:375px;height:331px;margin-right:6px;}
	.dm  .dm-l .dm-l-b .box1 .tp1{width:375px;height:255px;position:relative;display:block;}
	.dm  .dm-l .dm-l-b .box1 .tp1 img{width:375px;height:255px;}
	.dm  .dm-l .dm-l-b .box1 .tp1 .mask{width:375px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dm  .dm-l .dm-l-b .box1 .tp1 .text{width:357px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:6px;bottom:0;padding-left:18px;background:url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
	.dm  .dm-l .dm-l-b .box1 .one{height:58px;padding-top:20px;padding-left:4px;background:#FFF;}
	.dm  .dm-l .dm-l-b .box1 .one .text1{font-size:14px;color:#444444;margin-bottom:12px;display:block;}
	.dm  .dm-l .dm-l-b .box1 .one .text2{font-size:12px;color:#888888;}
	
	.dm  .dm-ls .dm-l-b .box2{width:364px;height:331px;}
	.dm  .dm-l .dm-l-b .box2 .box2-t{width:364px;height:155px;margin-bottom:20px;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one{width:179px;height:155px;margin-right:6px;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .tp1 img{width:179px;height:100px;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;padding-left: 18px;background: url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .two{height:41px;padding-top:14px;padding-left:9px;background:#FFF;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .two .text1{font-size:12px;color:#444444;margin-bottom:10px;display:block;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .one .two .text2{font-size:12px;color:#888888;}
	.dm  .dm-l .dm-l-b .box2 .box2-t .aa{margin-right:0;}
	
	
	
	
	.dm  .dm-l .dm-l-b .box2 .box2-b{width:364px;height:155px;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one{width:179px;height:155px;margin-right:6px;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .tp1{width:179px;height:100px;position:relative;display:block;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .tp1 img{width:179px;height:100px;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .tp1 .mask{width:179px;height:22px;background:#000;position:absolute;left:0;bottom:0;opacity:0.8;filter:alph(opacity=80);}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .tp1 .text{width:179px;height:22px;font-size:12px;line-height:22px;color:#FFF;position:absolute;left:9px;bottom:0;padding-left: 18px;background: url(../img/t01f3aaf7cf737877f0.png) no-repeat 0 6px;}
		.dm  .dm-l .dm-l-b .box2 .box2-b .one .two{height:41px;padding-top:14px;padding-left:9px;background:#FFF;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .two .text1{font-size:12px;color:#444444;margin-bottom:10px;display:block;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .one .two .text2{font-size:12px;color:#888888;}
	.dm  .dm-l .dm-l-b .box2 .box2-b .aa{margin-right:0;}
	
	.dm  .dm-r {width:239px;height:383px;}
	
	.dm  .dm-r  h4{font-size:23px;color:#333333;padding-top:6px;margin-bottom:20px;font-weight:bold;}
.dm  .dm-r .zr{width:240px;height:331px;}
.dm  .dm-r .zr .xq li{width:32px;height:32px;margin-right:1px;float:left;}
.dm  .dm-r .zr .xq li a{width:32px;height:32px;background:#eeeeee;color:#333333;font-size:15px;display:block;text-align:center;line-height:32px;font-weight:bold;}
.dm  .dm-r .zr .xq li .xq1:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq2:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq3:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq4:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq5:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq6:hover{background:#46c832;color:#FFF;}
.dm  .dm-r .zr .xq li .xq7:hover{background:#46c832;color:#FFF;}


	iframe{width:240px; height:300px; border:none;}
	
	
	
	
	
	
	
	/*************************独家策划************************/
	
.djch{height:465px;background:#f4f4f4;padding-top:40px;}
.djch .xnav{height:32px;margin-bottom:20px;}
.djch .xnav h3{font-size:30px;color:#2b2b2b;margin-right:17px;line-height:32px;font-weight:bold;}
	.djch .xnav ul{height:32px;}
	.djch .xnav li{height:20px;padding-top:12px;float:left;}
	.djch .xnav li a{height:20px;font-size:13px;color:#242424;line-height:20px;padding:0 15px;border-right:1px solid #e5e5e5;display:inline-block;}
	.djch .xnav li .one{color:#22ac38;border-right:none;}
.djch .djch-b{width:1002px;height:412px;padding-left:3px;padding-right:2px;}
.djch .djch-b .zr1{width:619px;height:412px;margin-right:2px;}
.djch .djch-b .zr1 .zr1-t{width:618px;height:205px;margin-bottom:2px;}
.djch .djch-b .zr1 a{width:204px;height:205px;margin-right:2px;display:block;}

.djch .djch-b .zr1 .one2{margin-right:0;}
.djch .djch-b .zr1 .one5{margin-right:0;width:204px;}
.djch .djch-b .zr1 img{width:204px;;height:205px;margin-right:2px;}
.djch .djch-b .zr2 {width:380px;height:412px;}
.djch .djch-b .zr2 img{width:380px;height:412px;}



.footer{height:60px;background:#f4f4f4;padding-top:60px;}
.footer ul{width:414px;height:14px;margin:0 auto;margin-bottom:15px;}
.footer ul li{float:left;}
.footer ul li a{font-size:12px;color:#666666;border-right:1px solid #956695;padding:0 10px;}
.footer ul li .last{border-right:none;}
.footer p{width:690px;font-size:12px;color:#666666;margin:0 auto;}
.footer p span{float:left;margin-right:30px;}