
@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:12px;}
a{text-decoration:none;}
li{list-style:none;}
*{margin:0; padding:0;}
body,p,ul,ol,dl{padding:0; margin:0;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1;}

input, textarea {
    outline: none;}
